name: Docs

on:
  push:
    branches:
    - main
    paths:
    - docs/**
    - .github/workflows/docs.yml
  pull_request:
    branches:
      - main
    paths:
      - docs/**
      - .github/workflows/docs.yml
  workflow_dispatch:

jobs:
  generate-docs:

    runs-on: windows-latest

    permissions:
      id-token: write
      pages: write

    steps:
    - uses: actions/checkout@v3

    - name: Set Up .NET 6.0
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.x
    
    - name: Set Up DocFX
      run: dotnet tool update -g docfx

    - name: Build DocFX
      run: docfx ./docfx.json

    - name: Upload Artifact
      uses: actions/upload-pages-artifact@v3
      env:
        GH_TOKEN: $ {{ secrets.GITHUB_TOKEN }}
      with:
        path: './_site'
    
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4